:root{
    --main-color: rgb(37, 37, 116);
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}

body, header, footer{
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  grid-template: auto 5fr auto/ repeat(2, 1fr);
  min-height: 100vh;
}

header {
  grid-row: 1;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  color: white;  
  width: 100%;
  justify-content: center;
  align-items: stretch;  
  
}

header span{
    align-self: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.name{
  color: rgb(200, 200, 1);
  font-weight: 700;
}

.navigation-bar{
 display: flex;
 justify-content: space-evenly;
 background-color: #333;
 padding: 1rem 0 1rem 0;
 margin-bottom: 0;
 
}

a {
  text-decoration: none;
  color: inherit;      
  font-weight: 900; 
  font-size: 1.2rem;
  display: inline-block;
  transition: transform 0.2s ease;
  padding: 0 0.5rem 0 0.5rem;
}

a:hover {
  /* text-decoration: underline; */
  transform: scale(1.1);
  color: black;
  background-color: white;
  border-radius: 0.3rem;
}

li{
  list-style: none;
}

main {
  grid-row: 2;
  grid-column: 1/3;
  display: grid;
  grid-template: auto 1fr/ 2fr 1fr;
  gap: 0.5rem;
  margin: 1rem;
  /* background-color: aliceblue; */
}

main h1{
    grid-row: 1;
    grid-column: 1/3;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.card{
  border: 2px solid gray;
  border-radius: 1rem;
  margin: 0.5rem;
  background-color: rgb(235, 234, 234);
}

.card a:hover{
  background-color: rgb(245, 245, 150);
}

.card h2{
  background-color: var(--main-color);
  color: white;  
  /* padding-top: 2rem; */
  margin-top: 0;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  padding: 0.5rem;
}

.card h3{
  border-bottom: 1px solid black;
  display: block;
  width: 30rem;
  text-align: center;
  /* position: absolute; */
  margin-left: 10rem;
}

.card1_1,
.card1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* texto - imagen */
  align-items: center;
  gap: 1rem;
  padding: 0.7rem;
}

.card1_1 img,
.card1_2 img {
  width: 70%;
  height: auto;
  border-radius: 8px;
  /* margin-left: 1rem; */
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  text-align: center;
}

figure img {
  width: 80%;
  height: auto;
  border-radius: 8px;
}

figcaption {
  font-size: 0.9rem;
  color: #333;
  margin-top: 0.5rem;
  font-style: italic;
}

@media (max-width: 700px) {
  .card1_1,
  .card1_2 {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .card1_1 img,
  .card1_2 img {
    width: 80%;
    margin: 0 auto;
  }

  figure {
    width: 80%;
    margin: 0 auto;
  }
}

h2, h3{
    text-align: center;
}

h3{
  border-bottom: black;
}

footer {
  grid-row: 3;
  grid-column: 1/3;
  background-color: var(--main-color);
  color: white;         
  text-align: center;    
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
}

.lastMod{
  font-size: 0.7rem;
}




