@media (min-width:700px){

        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* border: 1px solid black; */
    }

    header{
        display: grid;
        grid-template-columns: 0.3fr 1fr;
    }

    header p{
        align-self: center;
        margin-bottom: 1.8rem;
    }
    
    #menu::before{
        content: none;
    }

    #menu{
        background-color: inherit;
    }

    .navigation{
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .navigation a{
        display: inline-block;
        font-size: 1.3rem;
    }

    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 1rem;
    }

    h1{
        grid-column: 1 / -1;
        text-align: center;
        padding: 1rem;
    }
}

@media (min-width:1100px){

    main{
        grid-template-columns: repeat(3, 1fr);
    }
}
