@media screen and (min-width: 500px) {
    main{
        display: grid;
        grid-template: 1fr 4fr 0.5fr/ 1fr 1fr;
        gap: 0.5rem;
    }

    h1{
        background-color: black;
        color: white;
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .left{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .right{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    footer{
        grid-column: 1/3;
        grid-row: 3/4;
        text-align: center;
        padding: 0 16.9rem;
    }
}