body{
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    padding: 0.5rem;
}

main{
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
}

h1{
    /* grid-row: 1/2; */
    padding: 1rem;
}

section{
    /* grid-row: 2/3; */
    border: 1rem solid rgb(176, 176, 247);
    padding: 1rem;
}

footer{
    /* grid-row: 3/4; */
    background-color: rgb(176, 176, 247);
    margin: 0 auto;
    text-align: center;
    padding: 0 8.43rem;
}







